<nav class="navbar navbar-expand-sm navbar-light fixed-top bg-light shadow mr-4" style="width: 100%;">
    <!-- <button>
        <span>&equiv;</span>
    </button> -->
        <img id="logo" src="/assets/images/icons8-falcon-80.png" alt="">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navigation">
        <span class="font-weight-bold">&equiv;</span>
    </button>
     <div class="navbar- navbar-collapse justify-content-center text-uppercase" id="navigation">
         <a href="" routerLink="/userlandingpage" rouertLinkActive="activebutton" class="nav-link text-dark">Home</a>
         <!-- <a href="" routerLink="/home" rouertLinkActive="activebutton" routerLink="/home" rouertLinkActive="activebutton" routerLink="/home" rouertLinkActive="activebutton"class="nav-link text-dark">Categories</a> -->
         <a href="" routerLink="/about" rouertLinkActive="activebutton" class="nav-link text-dark">ABOUT</a>
         <a href="" routerLink="/rooms" rouertLinkActive="activebutton" class="nav-link text-dark">ROOMS</a>
         <a href="" routerLink="/blog" rouertLinkActive="activebutton" class="nav-link text-dark">BLOG</a>
         <a href="" routerLink="/contact" rouertLinkActive="activebutton" class="nav-link text-dark">Contact Us</a>
     </div>
 <input type="search" class="form-control" placeholder="Search"  style="width: 270px" > <button style="margin-right: 20px;" class="btn btn-primary">Search</button>
 <div class="controls">
   <!-- <a href="" routerLinkActive="activebutton" id="btn" class="btn btn-danger" type="button" ngIf="logoutbtn" name="signin">Logout</a> -->
   <button type="button" class="btn btn-success" >Logout</button>
 </div>
 </nav>
