<app-adminnav></app-adminnav>
<div id="todmiddle">

    <main>

        <div class="cards">
             <div class="card-single">
                 <div>
                     <h2>79</h2>
                     <span>Customers</span>
                 </div>
                 <div>
                     <span class="las la-users"></span>
                 </div>
             </div>

             <div class="card-single">
                 <div>
                     <h2>190</h2>
                     <span>Rooms</span>
                 </div>
                 <div>
                     <span class="las la-clipboard"></span>
                 </div>
             </div>

             <div class="card-single">
                 <div>
                     <h2>09</h2>
                     <span>Events</span>
                 </div>
                 <div>
                     <span class="las la-shopping-bag"></span>
                 </div>
             </div>

              <div class="card-single">
                 <div>
                     <h2>$600k</h2>
                     <span>Income</span>
                 </div>
                 <div>
                     <span class="lab la-google-wallet"></span>
                 </div>
             </div>
        </div>
        <div class="recent-flex">
             <div class="projects">
                 <div class="card">
                     <div class="card-header">
                         <h2>Recent Events</h2>
                         <button>See all <span class="las la-arroe-right"></span></button>
                     </div>

                     <div class="card-body">
                         <table width="100%">
                             <thead>
                                 <tr>
                                     <td>Event Title</td>
                                     <td>Event Date</td>
                                     <td>Event Date</td>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr>
                                     <td>Wedding</td>
                                     <td>Event Planner</td>
                                     <td>
                                         <span class="status purple"></span>
                                         review
                                     </td>
                                 </tr>

                                 <tr>
                                     <td>Birthday</td>
                                     <td>Event Planner</td>
                                     <td>
                                         <span class="status pink"></span>
                                         review
                                     </td>
                                 </tr>

                                 <tr>
                                     <td>Burial</td>
                                     <td>Event Planner</td>
                                     <td>
                                         <span class="status orange"></span>
                                         review
                                     </td>
                                 </tr>
                             </tbody>
                         </table>

                         <div class="card-body">
                                 <div class="table-responsive">

                                 </div>
                         </div>
                     </div>
                 </div>
             </div>

             <div class="customers">
                 <div class="card">
                     <div class="card-header">
                         <h3>New customer</h3>
                         <button>See all <span class="las la-arroe-right"></span></button>
                     </div>

                     <div class="card-body">
                         <div class="customer">
                             <div class="info">

                                 <img src="/assets/images/" width="40px" height="40px" alt="">
 
                                 <div>
                                     <h4>Akin I. Oluwaseyi </h4>
                                     <small>HOTEL CEO</small>
                                 </div>
                             </div>
                             <div class="contact">
                                 <span class="las la-user-circle"></span>
                                 <span class="las la-comment"></span>
                                 <span class="las la-phone"></span>
                             </div>
                         </div>

                     
                         <div class="customer">
                             <div>

                                 <img src="/assets/images/" width="40px" height="40px" alt="">
 
                                 <div>
                                     <h4>Akin I. Oluwaseyi </h4>
                                     <small>HOTEL CEO</small>
                                 </div>
                             </div>
                             <div>
                                 <span class="las la-user-circle"></span>
                                 <span class="las la-comment"></span>
                                 <span class="las la-phone"></span>
                             </div>
                         </div>

                         <div class="customer">
                             <div>

                                 <img src="/assets/images/" width="40px" height="40px" alt="">
 
                                 <div>
                                     <h4>Akin I. Oluwaseyi </h4>
                                     <small>HOTEL CEO</small>
                                 </div>
                             </div>
                             <div>
                                 <span class="las la-user-circle"></span>
                                 <span class="las la-comment"></span>
                                 <span class="las la-phone"></span>
                             </div>
                         </div>

                     </div>
                 </div>
             </div>
        </div>
     </main>

</div>