<!-- <nav class="navbar navbar-expand-sm navbar-light bg-light shadow mr-4" style="width: 100%;">

        <h3>VIDALL</h3>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navigation">
        <span class="font-weight-bold">&equiv;</span>
    </button>
     <div class="navbar- navbar-collapse text-uppercase" id="navigation">
         <a routerLink="/home"  class="nav-link text-dark">Home</a>
         <a routerLink="/videos"  class="nav-link text-dark">Videos</a>
         <a routerLink="/about"  class="nav-link text-dark">About Us</a>
         <a routerLink="/contact"  class="nav-link text-dark">Contact Us</a>
     </div>
        <input type="search" class="form-control" placeholder="type something"  style="width: 270px" ><button style="margin-right: 20px;" class="btn btn-primary">Search</button>
        <div class="controls">
        <a href="" class="btn btn-success" type="submit" name="signin">Logout</a>
    </div>
 </nav> -->
<!-- <app-navbar></app-navbar> -->
<router-outlet></router-outlet>
<!-- <app-home></app-home> -->

