/* 
form{
    margin-top: 120px;

}
img{
    margin-top: 70px;
}

.container{
    background-color: darkgrey;
    height: 550px;
    margin-top: -50px;
    border-radius: 10px;
}
button{
    margin-top: 70px;
    background-color: darkblue;
    width: 90%;
    border-radius: 14px;
    margin-left: 20px;
}

h6{
    float: right;
    color: darkblue;
    margin-top: 11px;
    font-size: 13px;
} */