<app-navbar></app-navbar>
<div class="container">

    <h1 class="text-center">Contact Us</h1>
    <div class="row bg-light shadow">
        <div class="col-sm-5 m-auto">

          <img src="/assets/images/email--v2.png" id="icon" alt="">
    
    
    
    
    
    
            
            
        </div>

        <div class="col-sm-5 m-auto">

            <div class="jumbotron">
                <form action="POST" autocomplete="off">

            
            <div class="textbox">
                <img src="\assets\Message_50px.png" alt="">
                <input type="text" placeholder="Email" formControlName="email" autocomplete="off" name="email" value="">
                
            </div>    <br>
          
            <div class="textbox">
                <textarea name="" class="form-control" id="" cols="30" rows="10">Meassage</textarea>
                               
            </div> <br>

            <h6 class="text-secondary">Email Us: info@eaglehotel.com</h6>
            <h6 class="text-secondary">Call us on: 08100000000 OR 09123466665</h6>
        
    

            
            <br> <br>   <button class="btn btn-primary"  type="submit"> Submit</button>

           <!-- <br> <br> <input class="btn" type="submit" name="" value="Login"> -->
        </form>
    </div>
        </div>

    </div>

</div>
