<nav class="navbar navbar-expand-sm navbar-light fixed-top bg-light shadow mr-4" style="width: 100%;">
    <!-- <button>
        <span>&equiv;</span>
    </button> -->
    <img id="logo" src="/assets/images/icons8-falcon-80.png" alt="">
   
  
    <div class="navhead">
        <button class="btn btn-primary"  routerLink="/login" routerLinkActive="activebutton">Login</button>

        <button class="btn btn-light"routerLink="/adminlogin" routerLinkActive="activebutton">Continue as an Admin</button>
    </div>

 <div class="controls">
   <!-- <a href="" routerLink="/login" routerLinkActive="activebutton" id="btn" class="btn btn-success" type="submit" name="signin">Login</a> -->
 </div>
 </nav>





<div id="header">
    <h3 data-text="Welcome..."><i>Welcome to Eagle Hotel...</i></h3>
     <h4>Find your next beautiful holiday </h4>
  
     <a href="" routerLink="/signup" routerLinkActive="activebutton" id="btn" class="btn btn-success" type="submit" name="login">Continue as a Guest</a>
  </div>
   
    <div class="container bg-light m-auto p-2">
        <div class="row">
        
  
              <div id="checkin" class="col-sm-3 textbox">
                <label>CHECK IN</label><br>
                <input class="" type="date" name="">
              </div>
  
              <div class="col-sm-3 textbox" id="checkout">
                  <label>CHECK OUT</label><br>
                  <input class="" type="date" name="" >
              </div>
        
              <div class="col-sm-3 textbox" id="quest">
                  <label>QUEST</label><br>
                  <input class="" type="number" name="" >
              </div>
              
              <div class="butt">
                  <button class="btn btn-primary" type="submit">Proceed</button>
              </div>
  
  
  
        </div>
  
    </div><br><br><br>
  
  
    <div class="container">
      <h2>OUR SERVICES</h2>        
  
  <div class="row">
          <div class="col-sm-4 d-flex justify-content-center align-item-center">
              <div class="card text-dark bg-light mt-2"> 
              <img class="prof" src="/assets/images/saad-khan-425b2PhNuHA-unsplash.jpg" />
                  <div>
              <h5  class="card-title mr-auto text-center">HOLIDAY</h5>
                      <a href='' class="btn btn-light">Read more<span class="text-primary">&rarr;</span></a>
                  </div>
        
              </div>
      
          </div>
  
  
          <div class="col-sm-4 d-flex justify-content-center align-item-center">
              <div class="card text-dark bg-light mt-2"> 
              <img class="prof" src="/assets/images/saad-khan-425b2PhNuHA-unsplash.jpg" />
                  <div>
                      <h5 class="card-title text-center">PARTY</h5>
                      <a href='' class="btn btn-light">Read more<span class="text-primary">&rarr;</span></a>
                  </div>
        
              </div>
      
          </div>
  
  
          <div class="col-sm-4 d-flex justify-content-center align-item-center">
              <div class="card text-dark bg-light mt-2"> 
              <img class="prof" src="/assets/images/saad-khan-425b2PhNuHA-unsplash.jpg" />
                  <div>
                      <h5 class="card-title mr-auto text-center">BUSINESS</h5>
                      <a href='' class="btn btn-light">Read more<span class="text-primary">&rarr;</span></a>
                  </div>
        
              </div>
      
          </div>
  </div>
  
  <br><br><br>


  <div class="" id="footer">
    <div class="text-center">


        <h1>
          SIGN UP FOR EXCLUSIVE <br>
          OFFERS FROM US</h1><br>
              
              <input id="subscribe" type="text"><button id="subscribebutton" type="submit">Submit</button>
          
    </div><br><br>
          <div class="row justify-content-center">
              <div class="col-sm-3">
                  <div class="text-center">

                      USEFUL LINKS <br>
                      Favorite Place <br>
                      Our History <br>
                      Contact Us <br>
                      Our Brand <br>
                      Activities <br>
                      Spa <br>
                      Dining <br>
                  </div>
              </div>

              <div class="col-3">
                  <div  class="text-center">

                      USEFUL LINKS <br>
                      Favorite Place <br>
                      Our History <br>
                      Contact Us <br>
                      Our Brand <br>
                      Activities <br>
                      Spa <br>
                      Dining <br>
                  </div>
              </div>

              <div class="col-3">
                  <div  class="text-center">
                      
                      USEFUL LINKS <br>
                      Favorite Place <br>
                      Our History <br>
                      Contact Us <br>
                      Our Brand <br>
                      Activities <br>
                      Spa <br>
                      Dining <br>
                  </div>
              </div>

          </div>

</div>

  
  
  
