
     <div class="container">

        <h1 class="text-center">Let's have your datails</h1>
        <div class="row shadow">
    
            <div class="col-sm-5 m-auto text-secondary">
    
                <div class="jumbotron">
                    <form action="POST" autocomplete="off">

                
                <div class="textbox">
                    <!-- <img src="\assets\Message_50px.png" alt=""> -->
                    <label for="">Full Name</label>
                    <input type="text"  formControlName="fullname" autocomplete="off" name="email" value="">
                    
                </div>    <br>
              
                <div class="textbox">
                    <!-- <img src="\assets\Password_50px.png" alt=""> -->
                    <label for="">Email Address</label>
                    <input type="password" formControlName="email" autocomplete="off" name="password" value="">
                    
                </div> <br>

                <div class="textbox">
                    <!-- <img src="\assets\Message_50px.png" alt=""> -->
                    <label for="">Number of Adult</label>
                    <input type="number" formControlName="numberofadult" autocomplete="off" name="email" value="">
                    
                </div>    <br>
                
                <div class="textbox">
                    <!-- <img src="\assets\Password_50px.png" alt=""> -->
                    <label for="">Number of Children</label>
                    <input type="number" formControlName="numberofchildren" autocomplete="off" name="password" value="">
                    
                </div> <br>

                <div class="textbox">
                    <!-- <img src="\assets\Password_50px.png" alt=""> -->
                    <label for="">Check in date</label>
                    <input type="date" formControlName="checkindate" autocomplete="off" name="password" value="">
                    
                </div> <br>

                <div class="textbox">
                    <!-- <img src="\assets\Message_50px.png" alt=""> -->
                    <label for="">Check out date</label>
                    <input type="date"   formControlName="checkoutdate" autocomplete="off" name="email" value="">
                    
                </div>    <br>


                <h4>Book with Your Card</h4><br> 
              

                <div class="textbox">
                    <!-- <img src="\assets\Message_50px.png" alt=""> -->
                    <label for="">Card Number</label>
                    <input type="text"  formControlName="cardnumber" autocomplete="off" name="email" value="">
                    
                </div>    <br>
              
                <div class="textbox">
                    <!-- <img src="\assets\Password_50px.png" alt=""> -->
                    <label for="">Acount Name</label>
                    <input type="password"  formControlName="accountname" autocomplete="off" name="password" value="">
                    
                </div> <br>

                <div class="textbox">
                    <!-- <img src="\assets\Message_50px.png" alt=""> -->
                    <label for="">Cvv</label>
                    <input type="text" formControlName="cvv" autocomplete="off" name="email" value="">
                    
                </div>    <br>
                   
                
                <br> <br>   <button class="btn"  type="submit">Book Now</button>
    
               <!-- <br> <br> <input class="btn" type="submit" name="" value="Login"> -->
            </form>
        </div>
            </div>
    
        </div>
    
    </div>
