<app-navbar></app-navbar>
<div id="header">
    <h3><i>Rooms and suites</i></h3>
     <!-- <h4>Find your next beautiful holiday </h4> -->
  </div><br><br>
 
  <div class="container items">
      <!-- first start here -->
        <div class="row justify-content-center">
            <div class="col-sm-5">
                <div class="card text-dark bg-light mt-2"> 
                    <img class="bigger" src="/assets/images/images8.jpg" />
                        <div class="bg-light title">
                            <h4>SUPERIOR ROOM</h4>
                            <p class="bg-light">360 sqmMax. | 3 guests</p>
                            <hr>
                            <h6>From <a>$243.00/Night 
                            <button class="btn btn-secondary" routerLink="/booking" routerLinkActive="activebutton" id="1">Book now</button></a></h6>
                        </div>
                    </div>
            </div>

            <div class="col-sm-5">
                <div class="card text-dark bg-light mt-2"> 
                    <img class="seconbigger" src="/assets/images/room4-1-820x520.jpg" />
                        <div class="bg-light titleright">
                            <h4>FAMILY DUPLEX</h4>
                            <p>360 sqmMax. | 3 guests</p>
                            <hr>
                            <h6>From <a>$343.00/Night</a></h6>
                            <button class="btn btn-secondary" routerLink="/booking" routerLinkActive="activebutton" id="2">Book now</button>
                        </div>
                        
                    </div>
                    
                    <div class="card text-dark bg-light mt-2"> 
                        <img class="thirdbigger" src="/assets/images/room1-1-820x520.jpg" />
                        <div class="bg-light title">
                                <h4>DOUBLE ROOM</h4>
                                <p>360 sqmMax. | 3 guests</p>
                                <hr>
                                <h6>From <a>$143.00/Night</a></h6>
                                <button class="btn btn-secondary" routerLink="/booking" routerLinkActive="activebutton" id="3">Book now</button>
                            </div>
                  
                        </div>
            </div>
        </div><br><br><br><br>
        <!-- first ends -->

        <!-- second start here -->
        <div class="row justify-content-center">

            <div class="col-sm-5">
                <div class="card text-dark bg-light mt-2"> 
                    <img class="seconbigger" src="/assets/images/room3-1-820x520.jpg" />
                      
                        <div class="bg-light titleright">
                            <h4>JUNIOR SUITE</h4>
                            <p>360 sqmMax. | 3 guests</p>
                            <hr>
                            <h6>From <a>$343.00/Night</a></h6>
                            <button class="btn btn-secondary" routerLink="/booking" routerLinkActive="activebutton" id="4">Book now</button>
                        </div>
              
                    </div>

                    <div class="card text-dark bg-light mt-2"> 
                        <img class="thirdbigger" src="/assets/images/10-820x520.jpg" /> 
                            <div class="bg-light title">
                                <h4>POOL VILLA</h4>
                                <p>360 sqmMax. | 3 guests</p>
                                <hr>
                                <h6>From <a>$343.00/Night</a></h6>
                                <button class="btn btn-secondary" routerLink="/booking" routerLinkActive="activebutton" id="6">Book now</button>
                            </div>
                  
                        </div>
            </div>

            <div class="col-sm-5">
                <div class="card text-dark bg-light mt-2"> 
                    <img class="bigger" src="/assets/images/room8-1-820x520.jpg" />
                        <div class="bg-light title">
                            <h4>DELUXE SEA VIEW</h4>
                            <p>360 sqmMax. | 3 guests</p>
                            <hr>
                            <h6>From <a>$343.00/Night</a></h6>
                            <button class="btn btn-secondary" routerLink="/booking" routerLinkActive="activebutton" id="7">Book now</button>
                        </div>
              
                    </div>
            </div>
        </div><br><br><br><br>
        <!-- second ends here -->

         <!-- third start here -->
         <div class="row justify-content-center">
            <div class="col-sm-5">
                <div class="card text-dark bg-light mt-2"> 
                    <img class="bigger" src="/assets/images/room5-1-820x520.jpg" />
                        <div class="bg-light title">
                            <h4>LUXURY ROOM</h4>
                            <p>360 sqmMax. | 3 guests</p>
                            <hr>
                            <h6>From <a>$343.00/Night</a></h6>
                            <button class="btn btn-secondary" routerLink="/booking" routerLinkActive="activebutton" id="8">Book now</button>
                        </div>
                    </div>
            </div>

            <div class="col-sm-5">
                <div class="card text-dark bg-light mt-2"> 
                    <img class="seconbigger" src="/assets/images/room7-1-820x520.jpg" />
                        <div class="bg-light titleright">
                            <h4>STANDARD ROOM</h4>
                            <p>360 sqmMax. | 3 guests</p>
                            <hr>
                            <h6>From <a>$343.00/Night</a></h6>
                            <button class="btn btn-secondary" routerLink="/booking" routerLinkActive="activebutton" id="9">Book now</button>
                        </div>
              
                    </div>

                    <div class="card text-dark bg-light mt-2"> 
                        <img class="thirdbigger" src="/assets/images/room6-1-820x520.jpg" />
                            <div class="bg-light title">
                                <h4>SEA VIEW</h4>
                                <p>360 sqmMax. | 3 guests</p>
                                <hr>
                                <h6>From <a>$343.00/Night</a></h6>
                                <button class="btn btn-secondary" routerLink="/booking" routerLinkActive="activebutton" id="10">Book now</button>
                            </div>
                  
                        </div>
            </div>
        </div>
        <!-- third ends -->

  </div><br><br><br>


  <div class="" id="footer">
      <div class="text-center">


          <h1>
            SIGN UP FOR EXCLUSIVE <br>
            OFFERS FROM US</h1><br>
                
                <input id="subscribe" type="text"><button id="subscribebutton" type="submit">Subscribe</button>
            
      </div><br><br>
            <div class="row justify-content-center">
                <div class="col-sm-3">
                    <div class="text-center">

                        USEFUL LINKS <br>
                        Favorite Place <br>
                        Our History <br>
                        Contact Us <br>
                        Our Brand <br>
                        Activities <br>
                        Spa <br>
                        Dining <br>
                    </div>
                </div>

                <div class="col-3">
                    <div  class="text-center">

                        USEFUL LINKS <br>
                        Favorite Place <br>
                        Our History <br>
                        Contact Us <br>
                        Our Brand <br>
                        Activities <br>
                        Spa <br>
                        Dining <br>
                    </div>
                </div>

                <div class="col-3">
                    <div  class="text-center">
                        
                        USEFUL LINKS <br>
                        Favorite Place <br>
                        Our History <br>
                        Contact Us <br>
                        Our Brand <br>
                        Activities <br>
                        Spa <br>
                        Dining <br>
                    </div>
                </div>

            </div>

  </div>

